---
layout: examples
---

<button style="display:none">Login with Widgetic!</button>
<p style="display:none"> Hello <span>visitor</span>! </p>

<script>
var hideButton = function() {
  $('button').off('click').hide();
}

var showUsername = function() {
  $('p').show();
  Widgetic.api('users/me').then(function(user) {
    $('span').text(user.username);
  })
}

var doInteractiveAuth = function() {
  var def = Widgetic.Aye.defer()

  console.log('Background login failed; reverting to interactive login');

  $('button').show().off('click').on('click', function() {
    Widgetic.auth()
      .then(def.resolve)
      .fail(def.reject)
  });

  return def.promise;
}

function init() {
  Widgetic.auth(false)
    .fail(doInteractiveAuth)
    .then(hideButton)
    .then(showUsername)
    .fail(init)
}

init()

</script>